* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#list {
    float: left;
    width: 30%;
    height: 100%;
    margin: 20px;
    background-color: wheat;
    text-align: center;
}

#content {
    float: left;
    width: 65%;
    height: 1000px;
    border-left: 1px solid gray;
}